# Ignore everything
/*

# Folders
!/gradle
!/src

# Files
!/.gitattributes
!/.gitignore
!/build.gradle
!/gradle.properties
!/gradlew
!/gradlew.bat
!/HEADER
!/BuildFile
!/LICENSE
!/README.md
!/settings.gradle
